# comments:
# - "https://agentgateway.dev/docs/llm/providers/anthropic/"

binds:
- port: 3010
  listeners:
  - routes:
    - backends:
      - ai:
          name: myngl-test
          # hostOverride: localhost:3030
          hostOverride: myngl-agent:3030
          provider:
            openAI:
              model: command
      policies:
        urlRewrite:
          authority:
            full: localhost:3030
          path:
            full: "/v1/chat/completions"
        backendAuth:
          key: "$ANTHROPIC_API_KEY"
        ai:
          promptGuard:
            request:
              regex:
                action:
                  reject:
                    response:
                      body: "Request rejected due to inappropriate content"
                rules:
                - pattern: SSN
                  name: SSN
                - pattern: Social Security
                  name: Social Security
            response:
              regex:
                action:
                  reject:
                    response:
                      body: "Response rejected due to inappropriate content"
                rules:
                - builtin: email

